.hero-section,
body {
    color: #fff;
    height: 100%;
    width: 100%;
    background-image: url('../assets/img/bg-kamal-portfolio.png');
    background-repeat: no-repeat;
    background-size: cover;
}

:root {
    --light-grey: #4d4d4d !important;
}

.text-light-grey {
    color: var(--light-grey);
}


@media (min-width:1400px) {
    h1 {
        font-size: 6rem !important;
    }
}


@media (min-width:1200px) and (max-width : 1399.98px) {
    h1 {
        font-size: 5.1rem !important;
    }

    .explore-btn {
        padding: 0.8rem 0.9rem !important;
    }
}

@media (min-width:992px) and (max-width : 1199.98px) {
    h1 {
        font-size: 4.1rem !important;
    }
}

@media (min-width:768px) and (max-width : 991.98px) {
    h1 {
        font-size: 3rem !important;
    }
}

@media (min-width:576px) and (max-width : 767.98px) {
    h1 {
        font-size: 2rem !important;
    }
}

@media (min-width:576px) and (max-width : 767.98px) {
    h1 {
        font-size: 2.3rem !important;
    }
}

@media (max-width:575.98px) {
    h1 {
        font-size: 1.7rem !important;

    }
}

.nav-link {
    color: #fff;
}

.navbar-btn {
    border: solid 1px #fff;
    border-radius: 2rem;
}

.nav-link {
    position: relative;
}

.nav-link::before {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 0.1rem;
    width: 0%;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s ease;
}

.nav-link:hover::before {
    width: 100%;
    color: #cabdbd;
}

.resume-btn {
    color: #fff;
    text-decoration: none;
    border: solid 2px #fff;
    border-radius: 2rem;
    transition: 0.3s ease;
    padding: 0.8rem 1.6rem;
}

.resume-btn:hover {
    color: #000;
    background-color: #fff;
    transition: 0.3s all ease;

    .fa-arrow-right {
        transform: rotate(0deg) !important;
    }
}

.btn-navclose {
    color: #fff !important;
    background-color: black;
    border: 3px solid #fff;
}

#mob-link:hover {
    color: #767373 !important;
}

.fa-arrow-right {
    transform: rotate(-30deg) !important;
    transition: 0.3s all ease;
}

.explore-btn {
    color: #fff;
    text-decoration: none;
    border: solid 2px #fff;
    border-radius: 2rem;
    transition: 0.3s ease;
    /* padding: 0.8rem 1.6rem; */
}

.explore-btn:hover {
    color: #000;
    background-color: #fff;
    transition: 0.3s all ease;

    .fa-arrow-right {
        transform: rotate(0deg) !important;
    }

    a {
        color: #000 !important;
    }
}